* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/Roboto-Medium.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../src/assets/fonts/BebasNeue-Regular.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

@keyframes slide-up {
  from {
    margin-top: 500px;
    opacity: 0;
  }

  to {
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    margin-left: 500px;
    opacity: 0;
  }

  to {
    margin-left: 0px;
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body {
  background-color: #ff9100;
  margin: 0;
}

.content {
  margin: 0px;
  padding: 0px;
  background-color: #ff9100;
  text-align: center;
}

.header {
  border: solid 3px rgb(255, 255, 255);
  background-color: #b7498e;
  padding: 0px;
}

.title-container {
  background-color: #b7498e;
}

.btn-container {
  border-top: solid 3px white;
  background-color: #b7498e;
  background: url("../src/assets/img/headerstyle.png");
  background-repeat: no-repeat;
}

button {
  font-family: "roboto";
  font-size: 25px;
  margin: 10px 20px 20px;
  padding: 15px;
  border: solid 1px aliceblue;
  border-radius: 10px;
  color: aliceblue;
  transition: 0.2s;
}

button:hover {
  font-size: 30px;
  transition: 0.2s;
}

button:active {
  background-color: white;
  font-size: 35px;
  transition: 0.2s;
}

.home {
  background-color: #b7498e;
}

.menu {
  background-color: #007e91;
}

.contact {
  background-color: #ff9100;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  margin: 0;
  background-color: #b7498e;
  font-family: "bebas neue", cursive;
  font-size: 45px;
  color: rgb(255, 255, 255);
  animation: slide-up 1s;
  animation-fill-mode: both;
}

.subtitle {
  background-color: #007e91;
  border: solid 3px white;
  font-family: "bebas neue", cursive;
  color: white;
  font-size: 45px;
  margin: 0px;
  animation: slide-up 1.2s;
}

p {
  border: solid 3px white;
  background-color: #007e91;
  padding: 115px;
  color: white;
  font-family: "roboto", sans-serif;
  font-size: 30px;
  animation: slide-up 1.5s;
  animation-fill-mode: forwards;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.hours-list {
  list-style: none;
}

.img {
  opacity: 0;
  /* both allows the image to be invisible before animation
    and also keeps it visible after animation (set class opacity to 0!) */
  animation: slide-in 3s ease 0.8s both;
  background-color: #ff9100;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide-in 3s ease 0.8s both;
}

.menu-img {
  border-radius: 20px;
  padding: 5px;
}

.menu-desc {
  background-color: #b7498e;
  padding: 75px;
}

ul {
  list-style: none;
  margin: 25px;
}

.menu-list {
  background-color: #007e91;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 3px #b7498e;
  animation: slide-up 1.6s ease;
}
